{% extends 'base.html' %}

{% block title %}Edit Employee - EmployeeManager{% endblock %}

{% block content %}
    <h1>Delete Employee</h1>
    <hr />
    <div class="border border-primary rounded p-2 mx-auto" style="width:fit-content">
        <!-- templates/tasks/task_confirm_delete.html -->
        <h2>Are you sure you want to delete "{{ employee }}"?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-check-circle"></span>&nbsp;Yes, delete</button>
            <a class="btn btn-sm btn-danger" href="{% url 'ListEmployees' %}"><span class="fa fa-window-close"></span>&nbsp;Cancel</a>
        </form>
    </div>
{% endblock %}